[submodule "submodules/rapidjson"]
	path = submodules/rapidjson
	url = https://github.com/Tencent/rapidjson.git
	ignore = all
[submodule "submodules/boost"]
	path = submodules/boost
	url = https://github.com/boostorg/boost.git
	ignore = all
[submodule "submodules/cpp-httplib"]
	path = submodules/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
	ignore = all
