[submodule "submodules/rapidjson"]
	path = submodules/rapidjson
	url = https://github.com/Tencent/rapidjson.git
	ignore = all
[submodule "submodules/concurrentqueue"]
	path = submodules/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
	ignore = all
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json.git
	ignore = all
