[submodule "submodules/concurrentqueue"]
	path = 3rd/submodules/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
	ignore = all
[submodule "submodules/json"]
	path = 3rd/submodules/json
	url = https://github.com/nlohmann/json.git
	ignore = all
